<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.min.css" media="screen">
    <title>Test</title>
</head>
<body>
<div class="b-page">
    <ul class="b-list">
        <li class="b-list-item">A</li>
        <li class="b-list-item">B</li>
        <li class="b-list-item">C</li>
    </ul>

    <ul class="b-list">
        <li class="b-list-item">1</li>
        <li class="b-list-item">2</li>
        <li class="b-list-item">3</li>
    </ul>

    <ul class="b-list">
        <li class="b-list-item">X</li>
        <li class="b-list-item">Y</li>
        <li class="b-list-item">Z</li>
    </ul>
</div>

<script language="javascript" type="text/javascript" src="../assets/js/script.min.js"></script>
</body>
</html>
