.b-list
  margin-bottom:1em
  width:200px
  border:1px solid transparent

  &-item
    list-style-position: inside
    padding:.5em 0
    cursor:pointer
    border:1px solid transparent


    &:hover
      border-color:$borderColor

  &__bordered
    border-color:$redBorderColor

  &__bordered_with-background
    border-color:$redBorderColor
    background-color:$redBackgroundOpacity